<div class="collection-product-grid">
            <div class="container">
                <h2>Tisso vison in the wild</h2>
                <div class="row">
                    <div class="col-4">
                        <img src="images/image 822.png" alt="" class="featured-image" />
                        <div class="quick-view-trigger"><img src="images/plus-icon.svg" alt="" /></div>
                    </div>
                    <div class="col-4">
                        <img src="images/image 822.png" alt="" class="featured-image" />
                        <div class="quick-view-trigger"></div>
                    </div>
                    <div class="col-4">
                        <img src="images/image 822.png" alt="" class="featured-image" />
                        <div class="quick-view-trigger"></div>
                    </div>
                    <div class="col-4">
                        <img src="images/image 822.png" alt="" class="featured-image" />
                        <div class="quickview-open"></div>
                    </div>
                    <div class="col-4">
                        <img src="images/image 822.png" alt="" class="featured-image" />
                        <div class="quickview-open"></div>
                    </div>
                    <div class="col-4">
                        <img src="images/image 822.png" alt="" class="featured-image" />
                        <div class="quickview-open"></div>
                    </div>
                </div>
            </div>
        </div>