<div class="collection-product-grid">
    <div class="container">
        <h2>Tisso vison in the wild</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/image 822.png" alt="" class="featured-image" />
                <div class="quick-view-trigger"><img src="images/plus-icon.svg" alt="" /></div>
            </div>
            <div class="col-4">
                <img src="images/image 822.png" alt="" class="featured-image" />
                <div class="quick-view-trigger"></div>
            </div>
            <div class="col-4">
                <img src="images/image 822.png" alt="" class="featured-image" />
                <div class="quick-view-trigger"></div>
            </div>
            <div class="col-4">
                <img src="images/image 822.png" alt="" class="featured-image" />
                <div class="quickview-open"></div>
            </div>
            <div class="col-4">
                <img src="images/image 822.png" alt="" class="featured-image" />
                <div class="quickview-open"></div>
            </div>
            <div class="col-4">
                <img src="images/image 822.png" alt="" class="featured-image" />
                <div class="quickview-open"></div>
            </div>
        </div>
    </div>
</div>

<div id="quick-view-popup" class="quick-view">
    <div class="quick-view-content">
        <button id="quick-view-close"><img src="images/cross-icon.svg" alt="" /></button>

        <div class="row">
            <div class="col-5">
                <img src="images/image 822.png" alt="" id="quick-view-image" />
            </div>
            <div class="col-7">
                <h3 id="quick-view-title"></h3>
                <h4 id="quick-view-price">980,00€</h4>
                <p id="quick-view-desc">This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
            </div>
        </div>
        <div class="colors-container">
            <h4>Color</h4>
            <div class="color-options"></div>
        </div>
        <div class="sizes-container">
            <h4>Size</h4>
            <div class="size-selector">
                <div class="size-selector-header">
                    <p>Choose your size</p>
                    <img src="images/down-arrow.svg" alt="" />
                </div>
            </div>
            <div class="size-options"></div>
        </div>

        <button id="quick-view-add-to-cart">Add To Cart <img src="images/right-icon.svg" alt="" /></button>
    </div>
</div>

<script>
    (function () {
        const popup = document.getElementById("quick-view-popup");
        const closeBtn = document.getElementById("quick-view-close");

        //Open
        document.querySelectorAll(".quick-view-trigger").forEach((btn) => {
            btn.addEventListener("click", function () {
                popup.classList.remove("popup-hidden");

                //Fetch Content
                fetch(`/products/blue-silk-tuxedo.json`);
                then((res) => res.json()).then((product) => {
                    document.getElementById("quick-view-title").innerText = product.title;
                });
            });
        });

        //Close
        closeBtn.addEventListener("click", () => {
            popup.classList.add("popup-hidden");
        });

        //Close on outside click
        window.addEventListener("click", (e) => {
            if (e.target === popup) {
                popup.classList.add("popup-hidden");
            }
        });
    })();
</script>

{% schema %}
{
  "name": "Product Grid Quick View",
  "presets": [
    {
      "name": "Product Grid with Quick View",
    }
  ]
}
{% endschema %}