/*Collection Banner*/
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  .btn-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: -webkit-linear-gradient(0deg, #fff544 50%, #000000 50%);
    background-size: 420px 80px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #000000;
    transition: 0.5s ease;
    font-size: 15px;
    letter-spacing: 0;
  }
  .btn-yellow:hover {
    background-position: 210px 0;
    color: #ffffff;
  }
  .btn-yellow img {
    width: 25px;
    margin-left: 20px;
    transition: 0.5s ease;
  }
  .btn-yellow:hover img {
    filter: invert(1);
  }
  .btn-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: -webkit-linear-gradient(0deg, #000000 50%, #fff544 50%);
    background-size: 420px 80px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #ffffff;
    width: max-content;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s ease;
    letter-spacing: 0;
  }
  .btn-dark:hover {
    background-position: 210px 0;
    color: #000000;
  }
  .btn-dark img {
    width: 25px;
    margin-left: 20px;
    filter: invert(1);
    transition: 0.5s ease;
  }
  .btn-dark:hover img {
    filter: invert(0);
  }
  .collection-banner {
    font-family: "Jost" !important;
  }
  .collection-banner .banner-header {
    padding: 2px 0;
    background: #f5f5f5;
  }
  .collection-banner .banner-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collection-banner .banner-header .logo {
    width: 150px;
  }
  .collection-banner .banner-header p {
    color: #000000;
    letter-spacing: 0;
  }
  .collection-banner .banner-content {
    background: #ffffff;
    background-size: cover;
    background-position: center center;
  }
  .collection-banner .banner-content .container {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-bottom: 20px;
  }
  .collection-banner .banner-content .wrapper {
    max-width: 425px;
    margin-left: 0;
    background: #ffffff;
    padding: 10px 20px 20px;
  }
  .collection-banner .banner-content h1 {
    font-family: "Jost" !important;
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 25px;
    letter-spacing: 0;
    margin-top: 0;
  }
  .collection-banner .banner-content p {
    margin-bottom: 40px;
    color: #000000;
    letter-spacing: 0;
  }
  .collection-banner .banner-feature {
    padding: 10px 0;
    background: #f5f5f5;
    text-align: center;
  }
  .collection-banner .banner-feature p {
    margin: 0;
    color: #000000;
    letter-spacing: 0;
  }


  @media (max-width: 768px) {
    .container {
    padding: 0 15px;
  }
  .collection-banner .banner-content {
    background-size: 645px;
    background-position: center 288px;
    background-repeat: no-repeat;
}
  .collection-banner .banner-content .container {
    min-height: 1px;
    padding: 0;
    padding-bottom: 178px;
}
.collection-banner .banner-content .wrapper {
    background: transparent;
    text-align: center;
}
.collection-banner .banner-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
}