/*Quick View Popup*/
.quick-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000077;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    font-family: "Jost" !important;
}
.popup-hidden {
    display: none;
}
.quick-view-content {
    position: fixed;
    width: 300px;
    max-width: 100%;
    background: #fff;
    padding: 15px;
}
.quick-view #quick-view-close {
    float: right;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.quick-view .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.quick-view .row .col-5 {
    -ms-flex: 0 0 calc(48% - 15px);
    flex: 0 0 calc(48% - 15px);
    max-width: calc(48% - 15px);
    padding-right: 15px;
}
.quick-view .row .col-7 {
    -ms-flex: 0 0 52%;
    flex: 0 0 52%;
    max-width: 52%;
}
.quick-view .row .col-5 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center center;
}

.quick-view .row .col-7 h3 {
    font-weight: 300;
    margin-bottom: 15px;
}
.quick-view .row .col-7 h4 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Lustria";
    font-weight: 300;
}
.quick-view .row .col-7 p {
    font-weight: 300;
    font-size: 12px;
}
.quick-view .colors-container h4 {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin-bottom: 2px;
}
.quick-view .sizes-container h4 {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin-bottom: 2px;
}
.quick-view .sizes-container #size-selector-header {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.quick-view .sizes-container #size-selector-header p {
    padding: 0 10px;
}
.quick-view .sizes-container #size-selector-header img {
    border-left: 1px solid #000;
    padding: 12px 10px;
}

.quick-view #quick-view-add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #000000;
    padding: 12px 30px;
    text-transform: uppercase;
    color: #ffffff;
    width: max-content;
    font-size: 12px;
    font-weight: 300;
    border: 0;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 2px;
}
.quick-view #quick-view-add-to-cart img {
    width: 20px;
    margin-left: 20px;
    filter: invert(1);
}

/*Quick View Color Options*/
.quick-view .colors-container {
    position: relative;
    z-index: 100;
    margin-bottom: 10px;
}
.quick-view #color-options-fill {
    display: flex;
    justify-content: space-between;
}
.quick-view .color-options input {
    display: none;
}
.quick-view .color-options label {
    width: 50%;
    border: 1px solid #000000;
    padding: 5px 15px;
}
.quick-view .color-options label.checked {
    background: #000000;
    color: #FFFFFF;
}
.quick-view .color-options label:nth-child(even) {
    border-left: 0;
}
.quick-view .color-options label {
    position: relative;
}
.quick-view .color-options label div {
    content: " ";
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    border-right: 1px solid #000;
    top: 0;
    left: 0;
}

/*Quick View Size Options*/
.quick-view .sizes-container {
    position: relative;
    z-index: 100;
}
.quick-view .size-options {
    position: absolute;
    width: 100%;
    background: #fff;
    max-height: 70px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.quick-view .size-options::-webkit-scrollbar {
    display: none;
}
.quick-view #size-options-fill {
    border: 1px solid #000000;
    border-top: 0;
}
.quick-view .size-options input {
    display: none;
}
.quick-view .size-options label {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.quick-view .size-options label:hover {
    background: #000;
    color: #fff;
}
.quick-view .size-options label:last-child {
    padding-bottom: 0;
}
.quick-view #size-selector .size-options {
    max-height: 0;
    transition: max-height 0.2s ease;
}
.quick-view #size-selector.active .size-options {
    max-height: 87px;
}