/*Collection Product Grid*/
.collection-product-grid {
    padding: 40px 0;
}
.collection-product-grid h2 {
    margin-bottom: 25px;
    font-family: "Lustria" !important;
    font-weight: 300;
}
.collection-product-grid .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.collection-product-grid .row .col-4 {
    -ms-flex: 0 0 calc(33.333333% - 15px);
    flex: 0 0 calc(33.333333% - 15px);
    max-width: calc(33.333333% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
}

.collection-product-grid .row .col-4 img.featured-image {
    width: 100%;
    object-fit: cover;
    object-position: center center; 
}
.collection-product-grid .row .col-4 .quick-view-trigger img {
    background: #F8F8F8E5;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 0;
    border-radius: 50%;
    padding: 7px 0;
    width: 25px;
    height: 25px;
}

/*Toggler Positions*/
.collection-product-grid .row .col-4.top-center .quick-view-trigger img {
    top: 65px;
    left: calc(50% + 30px);
}
.collection-product-grid .row .col-4.top-left .quick-view-trigger img {
    top: 0;
    left: 0;
}
.collection-product-grid .row .col-4.top-right .quick-view-trigger img {
    top: 0;
    right: 0;
}